In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import mean_squared_error
from nltk.tokenize import RegexpTokenizer
import scipy.sparse as sp
from sklearn.linear_model import Ridge
import matplotlib.pyplot as plt
import math

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
md_user = pd.read_csv("Data\md_user.csv")
md_user_test = pd.read_csv("Data\md_user_test.csv")
md_book = pd.read_csv("Data\md_book.csv")
A = md_user['user_id'].unique()
user_dict = { value: index for index, value in enumerate(A)}
book_arr = md_book.values[:,0]

In [ ]:
md_user

        book_id                           user_id  user_rating    ids
0             1  d06d007d15b9a66fce35dcbc2ff789f0            5      0
1             1  f14eb7b97b91a036f392e8374ac1ba89            3      1
2             1  fc0dc60ed86f871c423adeb021552e54            5      2
3             1  cf29f77f0b7c4447af9d1c95bed228d6            5      3
4             1  20d986b7ec4f642f7b99aa5f9a246b64            5      4
...         ...                               ...          ...    ...
215854   115077  44028fe1679a184daed5824557f2d9b9            5  10344
215855   115077  848b48923b29910829cb1444415e63a3            3  21168
215856   115077  9db88933c3b364642192d47df81bf239            5  19836
215857   115077  0724872b15259aa9eb3dda3ee9eb633a            2  27598
215858   115077  86d2aab1da0274574de023be88b58dc1            3    417

[215859 rows x 4 columns]

In [ ]:
source = np.load('Data\TrainFinalMatrix.npz')
model = source['Weight']

In [ ]:
def get_items_test(book_arr, user_id,md_user):
  rate_matrix = md_user.values
  z = md_user.loc[md_user['user_id'] == user_id].values

  # z = z[0].astype(int)
  # print(z)
  book_id = z[:,0]
  # print(len(book_id))
  rate = z[:,2]
  # print(rate)
  book_index = []
  for i,x in enumerate(book_arr):
    if x in book_id:
      book_index.append(i)
    # else:
    #    print(x)
  # print(len(book_index))
  return book_index,rate
# book_index,rate = get_items_test(book_arr, 'f14eb7b97b91a036f392e8374ac1ba89',tmp_test)
# print(len(book_index))
# print(len(rate))

In [ ]:

def ContentBase(user_id,trainset,model,md_book):
  book_arr = md_book.values[:,0]
  selected_fields1 = ['book_id', 'title_without_series','author','genres','rate']
  selected_fields2 = ['book_id', 'title_without_series','author','genres','point']
  b_show = md_book

  ids, scores = get_items_test(book_arr, user_id,trainset)
  print('Book have read:')
  read = b_show.loc[ids]
  
  read['rate'] = scores.flatten().tolist()
  read = read[selected_fields1]
  read = read.sort_values(by='rate', ascending=False)
  # print(read.to_string(index=False))
  display(read)
  position = user_dict[user_id]
  user_detail = model[:,position]
  user_detail = user_detail.flatten().tolist()
  b_show['point'] = user_detail
  df_filtered = b_show.drop(ids)
  df_sorted = df_filtered.sort_values(by='point', ascending=False)
  
  df_sorted = df_sorted[selected_fields2]
  print('\n\n 10 best book for:',user_id)
  # print(df_sorted.head(10).to_string(index=False))
  display(df_sorted.head(10))
#sau thay part2 thanh module to va bo cai -10000

In [ ]:
import time
# ['dccec5703ceaf6fdec871457ede4e853',
#        '41bd39202589003ef23cc3e32f02e55b',
#        '1f9406656d36289f20af226656aa5467',
#        '64002e5f717d335e0c25e4b9c1ec42da', dùng để giải thích độ tăng của rate
#        '4c6f79c01bb3ba5a72c08e8420ac89e2',
#        'd8c8d71531dbf20f3c1753d918d9b33f',
#        '14cde81c48a9de507014bf845b10d36d',
#        '140ad053658a0f33ed0fc0aefc965958', đọc 1 quyển
#        'fe141e395a08ed2389f417f03e43a732', co loi
#        '175f7b34824d175f2f3713ca01c1c2c0']

start = time.time()
user_id = 'f14eb7b97b91a036f392e8374ac1ba89'
ContentBase(user_id,md_user,model,md_book)
end = time.time()
exe = end - start
print('time: ',exe)

Book have read:

,book_id,title_without_series,author,genres,rate
6112,25179,Blankets,craigthompson craigthompson,romance comics biography young adult historica...,5
4879,19063,The Book Thief,markuszusak markuszusak,fantasy biography young historical paranormal ...,5
6381,27000,"Lost in a Good Book (Thursday Next, #2)",jasperfforde jasperfforde,fantasy biography mystery comics thriller youn...,5
9068,40440,The Thirteenth Tale,dianesetterfield dianesetterfield,fantasy romance biography mystery young thrill...,4
19614,106859,Superman for All Seasons,jephloeb jephloeb,fantasy comics young paranormal graphic adult ...,4
16374,85301,Unaccustomed Earth,jhumpalahiri jhumpalahiri,fiction,4
15999,82783,"Feeling Sorry for Celia (Ashbury/Brookfield, #1)",jaclynmoriarty jaclynmoriarty,romance young mystery thriller crime adult fic...,4
15459,79195,"Brainiac: Adventures in the Curious, Competiti...",kenjennings kenjennings,biography mystery thriller crime historical hi...,4
13298,65692,Just a Geek: Unflinchingly honest tales of the...,wilwheaton wilwheaton,biography comics historical history graphic no...,4
13177,64986,Q & A,vikasswarup vikasswarup,romance young mystery thriller crime adult fic...,4
13153,64860,"E is for Evidence (Kinsey Millhone, #5)",suegrafton suegrafton,thriller fiction mystery crime,4
11916,56728,"You Are Special (Wemmicksville, #1)",maxlucado maxlucado,fantasy children young paranormal adult fiction,4
9932,45234,The Gun Seller,hughlaurie hughlaurie,thriller fiction mystery crime,4
1,2,Harry Potter and the Order of the Phoenix (Har...,j.k.rowling j.k.rowling,fantasy romance children young mystery thrille...,4
6382,27001,The Well of Lost Plots (Thursday Next #3),jasperfforde jasperfforde,fantasy biography mystery thriller crime histo...,4
20249,111000,The Librarian of Basra: A True Story from Iraq,jeanettewinter jeanettewinter,children biography young adult historical hist...,4
1664,6628,"The Big Over Easy (Nursery Crime, #1)",jasperfforde jasperfforde,fantasy comics young fiction thriller crime pa...,4
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,j.k.rowling j.k.rowling,fantasy children young mystery thriller crime ...,4
10134,46465,"The Chemistry of Death (David Hunter, #1)",simonbeckett simonbeckett,thriller fiction mystery crime,3
20093,110076,The Pale Blue Eye,louisbayard louisbayard,biography mystery thriller crime historical hi...,3
19397,105731,Stuck in the Middle: 17 Comics from an Unpleas...,arielschrag arielschrag,romance children young biography fiction non h...,3
19251,104727,The 101 Most Influential People Who Never Lived,allanlazar allanlazar,biography historical history non fiction,3
19207,104363,D.A.,conniewillis conniewillis,fantasy young mystery thriller crime paranorma...,3
645,2744,Anansi Boys,neilgaiman neilgaiman,fantasy young paranormal adult fiction,3
1253,5107,The Catcher in the Rye,j.d.salinger j.d.salinger,young biography historical history adult fiction,3
10717,49436,Three Cups of Tea: One Man's Mission to Promot...,gregmortenson gregmortenson,biography comics historical history graphic no...,3
0,1,Harry Potter and the Half-Blood Prince (Harry ...,j.k.rowling j.k.rowling,fantasy romance children young mystery thrille...,3
9616,43641,Water for Elephants,saragruen saragruen,romance biography young historical history adu...,3
9503,43015,A Long Way Gone: Memoirs of a Boy Soldier,ishmaelbeah ishmaelbeah,biography young comics adult historical histor...,3
16715,87640,PostSecret: Extraordinary Confessions from Ord...,frankwarren frankwarren,biography young comics adult poetry historical...,2
8521,37470,The Other Boleyn Girl (The Plantagenet and Tud...,philippagregory philippagregory,romance biography young historical history adu...,2
1207,4953,A Heartbreaking Work of Staggering Genius,daveeggers daveeggers,biography comics historical history graphic no...,2
7931,33738,"Santa, Baby",jennifercrusie jennifercrusie,romance fiction,2
676,2872,Falling Angels,tracychevalier tracychevalier,romance biography historical history fiction,2
2279,9416,"Confessions of a Shopaholic (Shopaholic, #1)",sophiekinsella sophiekinsella,romance adult fiction young,2
3816,14865,Vanishing Acts,jodipicoult jodipicoult,romance young mystery thriller crime adult fic...,1
19770,107581,Admission,travisthrasher travisthrasher,romance young mystery thriller crime adult fic...,1
8515,37442,Wicked: The Life and Times of the Wicked Witch...,gregorymaguire gregorymaguire,fantasy romance young paranormal adult fiction,1
2435,9892,Breakfast with Tiffany: An Uncle's Memoir,edwinjohnwintle edwinjohnwintle,romance biography comics historical history gr...,1
3344,13131,"The 6th Target (Women's Murder Club, #6)",jamespatterson jamespatterson,romance mystery thriller crime fiction,1
18937,102458,"Hellboy, Vol. 1: Seed of Destruction (Hellboy,...",mikemignola mikemignola,fantasy comics mystery thriller crime paranorm...,1
1170,4820,"Mayflower: A Story of Courage, Community, and War",nathanielphilbrick nathanielphilbrick,biography historical history non fiction,1
5246,21418,Thr3e,teddekker teddekker,fantasy young mystery thriller crime paranorma...,1
12371,59819,Tears of the Moon (Gallaghers of Ardmore / Iri...,noraroberts noraroberts,romance fantasy mystery thriller crime paranor...,1
5359,22188,"Gossip Girl (Gossip Girl, #1)",cecilyvonziegesar cecilyvonziegesar,romance adult fiction young,1

 10 best book for: f14eb7b97b91a036f392e8374ac1ba89

,book_id,title_without_series,author,genres,point
1083,4506,Sickened: The True Story of a Lost Childhood,juliegregory juliegregory,children biography mystery young thriller adul...,4.869719
1084,4507,Sickened: The Memoir of a Munchausen by Proxy ...,juliegregory juliegregory,children biography mystery young thriller adul...,4.869719
19890,108432,Life in Prison,stanleytookiewilliams stanleytookiewilliams,children biography mystery young thriller adul...,4.868162
19031,103068,The African Dream: The Diaries of the Revoluti...,ernestocheguevara ernestocheguevara,biography young mystery thriller adult crime h...,4.828794
12137,58173,Fish: A Memoir of a Boy in a Man's Prison,t.j.parsell t.j.parsell,biography mystery young thriller adult crime h...,4.825786
16684,87424,Tintin in the Land of the Soviets (Tintin #1),herge herge,children comics young mystery thriller biograp...,4.561447
11270,52556,Sarny,garypaulsen garypaulsen,children biography young mystery thriller crim...,4.531818
4881,19066,"Underdog (Wolfe Brothers, #1)",markuszusak markuszusak,adult fiction children young,4.528405
4880,19065,"Fighting Ruben Wolfe (Wolfe Brothers, #2)",markuszusak markuszusak,adult fiction children young,4.528405
3818,14870,The Outsiders,s.e.hinton s.e.hinton,children young biography mystery thriller crim...,4.528302

time:  0.2503335475921631